.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-stone800);
    height: 80%;
}
.footer__ul{
    display: flex;
    flex-direction: row;
    gap: 1em;
    list-style-type: none;
    padding-left: 1em;
    flex: 1;
    margin-top: 1em;
}
.footer__name-container{
    display: block;
    align-items: center;
}