:root{
    --clr-light: #fdf2f8;
    --clr-dark: #0a0908;
    --clr-stone400: #9ca3af;
    --clr-stone600: #4b5563;
    --clr-stone800: #1f2937;
    --clr-pink: #9d174d;
    --clr-violet: #5b21b6;
    --clr-violet400: #a78bfa;


    /* pink: 157, 23, 77 */

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-base: 1rem;
    --size-lg:  1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    line-height: calc(1em + 0.5rem);

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
img{
    display: block;
    max-width: 100%;
    user-select: none;
}
button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}
a{
    color: var(--clr-pink);

}
strong{
    color: var(--clr-violet);
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #FF0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar__item{
    height: 80px;
}
.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar__links:hover{
    color: #FF0844;
    top: -5px;
    position: relative;
}




